<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.giveu.shardingsphere.mapper.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.giveu.shardingsphere.model.UserDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
<select id="selectByPrimaryKey" resultMap="BaseResultMap">
  select * from user where id = #{0}
</select>
<select id="selectNameById" resultType="java.lang.String">
  select name from user where id = #{0}
</select>

  <select id="insert" parameterType="com.giveu.shardingsphere.model.UserDO">
    insert into user (id,name,city) VALUES (#{id},#{name},#{city})
  </select>
</mapper>